@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="/css/editor.css" />
}

<div class="container mt-3">
    <h3>Edit eBook</h3>
    <div id="editor-root"></div>
</div>

@section Scripts {
    <script src="/js/editor.js"></script>
}
